<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/Product/addAndEditSeries.css}">

</head>
<body class="sticky-header">
<!-- left side start-->
<div th:replace="Menu/menu::asid(${menus},'cpwx','cpwx_cpxlwh')"></div>

<!-- left side end-->
<div class="main-content" >
    <!-- header start-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-title bcwhite">
                    </div>
                    <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <div class="col-xs-12 search-condition">
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">产品分类名称：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">产品分类名称</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="seriesName" maxlength="32" class="form-control parsley-validated" th:value="${seriesproducts.seriesName}"  style="background-color:#fff"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 nopadding" style="margin-top:15px;">
                            <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">分类类型：</label>
                            <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">分类类型</label>
                            <div class="col-md-5 col-xs-12 nopadding">
                                <select  id="type" class="form-control parsley-validated" name="d">
                                    <option value="">---是否热销分类---</option>
                                    <option value="0" th:selected="${seriesproducts.type==0}">否</option>
                                    <option value="1" th:selected="${seriesproducts.type==1}">是</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 nopadding" style="margin-top:15px;">
                            <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">所属分类：</label>
                            <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">所属分类</label>
                            <div class="col-md-5 col-xs-12 nopadding">
                                <select  id="classGuid" class="form-control parsley-validated" name="d">
                                    <option value="0">---请选择产品分类---</option><!--th:selected="${product.seriesCode==e.seriesCode}"-->
                                    <option th:if="${classificationList.size()>0 && seriesproducts!=null}" th:each="e,eStat:${classificationList}" th:value="${e.classGuid}" th:selected="${seriesproducts.classGuid==e.classGuid}">[[${e.className}]]</option>
                                    <option th:if="${classificationList.size()>0 && seriesproducts==null}" th:each="e,eStat:${classificationList}" th:value="${e.classGuid}">[[${e.className}]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 nopadding" style="margin-top:18px;text-align: right">
                            <button type="button" class="btn btn-s-xs defaultbtn" onclick="save()">保存</button>

                            <button type="button" class="btn btn-s-xs defaultbtn" onclick="back()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>

    <!--系列表id-->
    <input id="id" th:value="${seriesproducts.id}" class="hidden"/>

    <!--body wrapper end-->
    <!--footer section start-->
    <div class="navbar" th:replace="Menu/footer::footer"></div>
    <!--footer section end-->
</div>
<!-- 全局js -->
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>
<script th:src="@{/static/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/Product/addAndEditSeries.js}"></script>

</body>
</html>
