<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/User/permissionReviewPage.css}" rel="stylesheet">

</head>
<body class="sticky-header">
<!-- left side start-->
<div th:replace="Menu/menu::asid(${menus},'yhgl','yhgl_qxsqsh')"></div>

<!-- left side end-->
<div class="main-content" >
    <!-- header start-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <p>
                            <span th:if="${roleAuditRecordView!=null && roleAuditRecordView.applyStatus==0}">app添加角色审核</span>
                            <span th:if="${roleAuditRecordView!=null && roleAuditRecordView.applyStatus!=0}">app添加角色查看</span>
                        </p>
                        <div class="col-xs-12 search-condition">
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">用户名称：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">用户名称</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="username" disabled class="form-control parsley-validated" placeholder="请输入中文和数字" οnkeyup="value=value.replace(/[^\w\.\/]/ig,'')" maxlength="12" style="background-color:#fff" th:value="${roleAuditRecordView.username}" />
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">申请角色名称：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">申请角色名称</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="rolaName" disabled  class="form-control parsley-validated" maxlength="12" style="background-color:#fff" th:value="${roleAuditRecordView.rolaName}" />
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">已有的角色名称：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">已有的角色名称</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="hadeGotRloaNames" disabled class="form-control parsley-validated" maxlength="12" style="background-color:#fff" th:value="${hadeGotRloaNames}" />
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">申请备注：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">申请备注</label>
                                <div class="col-md-8 col-xs-12 nopadding">
                                    <textarea id="buyingPoint" disabled  th:text="${roleAuditRecordView.remark}" maxlength="255" class="form-control parsley-validated" rows="6" style="background-color:#fff"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">审核状态：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">审核状态</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <label style="margin-top: 7px" th:if="${roleAuditRecordView.applyStatus==0}">待审核</label>
                                    <label style="margin-top: 7px" th:if="${roleAuditRecordView.applyStatus==1}">审核通过</label>
                                    <label style="margin-top: 7px" th:if="${roleAuditRecordView.applyStatus==2}">审核不通过</label>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">审核意见：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">审核意见</label>
                                <div class="col-md-8 col-xs-12 nopadding">
                                    <textarea id="tipRemark" th:disabled="${roleAuditRecordView.applyStatus!=0}" th:text="${roleAuditRecordView.tipRemark}" maxlength="255" class="form-control parsley-validated" rows="6" style="background-color:#fff"></textarea>
                                </div>
                            </div>

                            <div class="col-xs-12 nopadding" id="btndiv" style="margin-top:18px;text-align: right;position: absolute;">
                                <button type="button" th:if="${roleAuditRecordView.applyStatus==0}" class="btn btn-s-xs defaultbtn" onclick="agreeAndDisagree(1)">审核通过</button>
                                <button type="button" th:if="${roleAuditRecordView.applyStatus==0}" class="btn btn-s-xs greenbtn" onclick="agreeAndDisagree(2)">审核不通过</button>
                                <button type="button" class="btn btn-s-xs btn-gray" onclick="back()">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>
    <!--记录id-->
    <input id="id" th:value="${id}" class="hidden"/>
    <input id="userId" th:value="${roleAuditRecordView.userId}" class="hidden"/>
    <input id="rolaId" th:value="${roleAuditRecordView.rolaId}" class="hidden"/>
     <!--body wrapper end-->
    <!--footer section start-->
    <div class="navbar" th:replace="Menu/footer::footer"></div>
    <!--footer section end-->
</div>



<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/static/js/iscroll-zoom.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/hammer.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/lrz.all.bundle.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/jquery.photoClip.min.js}" type="text/javascript"></script>

<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>



<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/User/permissionReviewPage.js}"></script>

</body>
</html>
