<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
<!--    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-theme.css}">-->
<!--    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-theme.min.css}">-->
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/System/addAndEditNotice.css}" rel="stylesheet">

</head>
<body class="sticky-header">
<!-- left side start-->
<div th:replace="Menu/menu::asid(${menus},'xtsz','xtsz_xttzgl')"></div>

<!-- left side end-->
<div class="main-content" >
    <!-- header start-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <p>
                            <span th:if="${notification!=null && notification.releaseFalg==null}">新增消息通知</span>
                            <span th:if="${notification!=null && notification.releaseFalg==0}">编辑消息通知</span>
                            <span th:if="${notification!=null && notification.releaseFalg==1}">查看消息通知</span>
                        </p>
                        <div class="col-xs-12 search-condition">

                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">通知类型：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm title nopadding">通知类型</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <select id="externalUr2" th:disabled="${notification!=null && notification.releaseFalg==1}" class="form-control parsley-validated" >
                                        <option value="">---选择通知类型 ---</option>
                                        <option value="0" th:selected="${notification.externalUrl == null }" >自定义消息通知</option>
                                        <option value="1" th:selected="${notification.externalUrl != null}" >外部消息通知</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding"  id="externalUrlDiv" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">外部链接URL：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">外部链接URL</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="externalUrl" maxlength="128" placeholder="http://或https://开头" th:disabled="${notification!=null && notification.releaseFalg==1}" class="form-control parsley-validated"  style="background-color:#fff" th:value="${notification.externalUrl}" />
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">通知主题：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">通知主题</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="title" maxlength="32" th:disabled="${notification!=null && notification.releaseFalg==1}" class="form-control parsley-validated"  style="background-color:#fff" th:value="${notification.title}" />
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">创建人姓名：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">创建人姓名</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="username" maxlength="32" th:disabled="${notification!=null && notification.releaseFalg==1}" class="form-control parsley-validated"  style="background-color:#fff" th:value="${notification.username}" />
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">显示顺序：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">显示顺序</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="showOrder" th:disabled="${notification!=null && notification.releaseFalg==1}" class="form-control parsley-validated" placeholder="请输入整数" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11" style="background-color:#fff" th:value="${notification.showOrder}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">通知摘要：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">通知摘要</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <textarea id="summary" th:disabled="${notification!=null && notification.releaseFalg==1}" maxlength="64" rows="3" th:text="${notification.summary}" class="form-control parsley-validated"  style="background-color:#fff"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;" id="choose-fileDiv1">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">公告图片：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">公告图片</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <button type="button" class="btn btn-s-xs defaultbtn" th:disabled="${notification!=null && notification.releaseFalg==1}" onclick="openfile()">选中公告图片</button>
                                    <input type="file" class="hidden" accept="image/jpg, image/jpeg, image/png" name="" id="choose-file" multiple="multiple"/>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;"></label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title"></label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <span style="color: red">图片的格式必须为：jpg、jpeg、png</span>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" style="margin-top:15px;min-height: 152px;" id="choose-fileDiv2">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;"></label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title"></label>
                                <div class="col-md-8 col-xs-12 nopadding">
                                    <ul class="file-list ">
                                        <li th:if="${imageFile!=null && imageFile.size()>0}" th:each="e,eStat:${imageFile}" style="border:solid #e1edff 1px; margin:5px 5px;text-align: center;"  class="file-item">
                                            <img th:src="${e.viewUrl}" class="imgshow" alt="" height="120px" width="120px" >
                                            <span th:id="${e.id}" th:if="${notification!=null && notification.releaseFalg!=1}" class="file-del" >删除</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 nopadding" id="btndiv" style="margin-top:18px;text-align: right;">
                                <button type="button" id="type1" class="btn btn-s-xs defaultbtn" onclick="toStep2(0)">下一步</button>
                                <button type="button" id="type2" class="btn btn-s-xs defaultbtn" th:if="${notification!=null && notification.releaseFalg!=1}" onclick="toStep2(1)">保存</button>
                                <button type="button" id="type3" class="btn btn-s-xs defaultbtn" th:if="${notification!=null && notification.releaseFalg!=1}" onclick="toStep2(2)">发布</button>
                                <button type="button" class="btn btn-s-xs btn-gray" onclick="back()">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>
    <!--产品id-->
    <input id="id" th:if="${notification.id!=null}"  th:value="${notification.id}" class="hidden"/>

     <!--body wrapper end-->
    <!--footer section start-->
    <div class="navbar" th:replace="Menu/footer::footer"></div>
    <!--footer section end-->
</div>



<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/static/js/iscroll-zoom.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/hammer.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/lrz.all.bundle.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/jquery.photoClip.min.js}" type="text/javascript"></script>

<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.js}"></script>-->
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>



<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/System/addAndEditNotice.js}"></script>

</body>
</html>
