<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/System/carouselManagement.css}" rel="stylesheet">

</head>
<body class="sticky-header" style="overflow: hidden;">
<!-- left side start-->
<div th:replace="Menu/menu::asid(${menus},'xtsz','xtsz_lbtgl')"></div>

<!-- left side end-->
<div class="main-content" >
    <!-- header start-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear " >
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-title bcwhite">
                    </div>
                    <div class="ibox-content ibox-content2 col-xs-12">
                        <div class="search-list row  " >
                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="carouselTitle" placeholder="轮播图主题"  class="layui-input"/>
                            </div>
                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="starttime" placeholder="创建开始时间"  class="layui-input"/>
                            </div>
                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="endtime" placeholder="创建结束时间"  class="layui-input"/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 piccondition ">
                                <button type="button" class="btn btn-s-xs defaultbtn" onclick="onsearchtable()">搜索</button>
                                <button type="button" class="btn btn-s-xs btn-gray" onclick="reset()">重置</button>
                                <button type="button" class="btn btn-s-xs greenbtn" style="margin-left: 30px;" onclick="add()">新增</button>
                            </div>
                        </div>
                        <div class="col-xs-12 search-condition">
                            <div id="tableInfo">
                                <table class="table table-striped visible-md visible-lg">
                                    <thead id="headlist">
                                    <tr>
                                        <th class="text-center">序号</th>
                                        <th class="text-center">轮播图</th>
                                        <th class="text-center">轮播图主题</th>
                                        <th class="text-center">是否发布</th>
                                        <th class="text-center">显示顺序</th>
                                        <th class="text-center">创建时间</th>
                                        <th class="text-center">创建人</th>
                                        <th class="text-center">更新时间</th>
                                        <th class="text-center">更新人</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                                <div class="col-sm-12 table-content">
                                    <table class="table table-striped">
                                        <tbody id="contentlist" class="contentlist"></tbody>
                                    </table>
                                    <div class="loading col-xs-12" id="loading" onclick="$('.layui-flow-more a').click();">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 total_content">
                                共<span class="total">0</span>条记录
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input valiue="" id="bwType" th:value="${bwType}" class="hidden"/>
    <!--body wrapper end-->
    <!--footer section start-->

    <div class="navbar" th:replace="Menu/footer::footer"></div>

    <!--<footer style="position: fixed;text-align: center" class="footer">
        <span class="foot-font">版权所有&nbsp;©&nbsp;江山欧派门业股份有限公司</span><br> <span class="foot-font">浙ICP备17058953-2号</span>
    </footer>-->
    <!--footer section end-->
</div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/System/carouselManagement.js}"></script>

</body>
</html>
