<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.css}" />

    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/Material/addManufacturingExpenses.css}" rel="stylesheet">

</head>
<body class="sticky-header" >
<!-- left side start-->
<div  th:replace="Menu/menu::asid(${menus},'jcsjgl','jcsjgl_fyzztq')"></div>
<!-- left side end-->
<div class="main-content">
    <!-- header start-->
    <!-- header end-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                        <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <p>
                            <span th:if="${manufacturingExpenses.id !=null && manufacturingExpenses.id!='' }">编辑</span>
                            <span th:if="${manufacturingExpenses == null && manufacturingExpenses.id == null }">新增</span>
                        </p>
                        <div class="col-xs-12 search-condition">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;display:none;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">id：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">id</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="zzz" th:value="${manufacturingExpenses.id}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff" disabled />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">类型：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">类型</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <input id="bomcode" class="form-control parsley-validated"  th:value="${manufacturingExpenses.modelCode}"   maxlength="11" style=" display: none;background-color:#ffffff;font-size:15px" />
                                        <input id="bomname" class="form-control parsley-validated"name="bomname" th:if="${manufacturingExpenses.modelCode==null}" th:disabled th:value="${manufacturingExpenses.modelCode}"  maxlength="11" style="background-color:#fff" />
                                        <input id="bomname2" class="form-control parsley-validated"name="bomname2" th:if="${manufacturingExpenses.modelCode!=null}" disabled th:value="${manufacturingExpenses.modelCode}"  maxlength="11" style="background-color:#fff" />
                                        <span class="input-group-addon" id="choose"th:if="${manufacturingExpenses.modelCode==null}" th:onclick="chooseBomType()">选择</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">产品分类：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">产品分类</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <input id="varvalue" class="form-control parsley-validated"  th:value="${manufacturingExpenses.variableValue}"   maxlength="11" style=" display: none;background-color:#ffffff;font-size:15px" />
                                        <input id="varvalue0" class="form-control parsley-validated"name="varvalue" th:if="${manufacturingExpenses.variableValue==null}" th:disabled th:value="${manufacturingExpenses.variableValue}"  maxlength="11" style="background-color:#fff" />
                                        <input id="varvalue2" class="form-control parsley-validated"name="varvalue2" th:if="${manufacturingExpenses.variableValue!=null}" disabled th:value="${manufacturingExpenses.variableValue}"  maxlength="11" style="background-color:#fff" />
                                        <span class="input-group-addon" id="choose2"th:if="${manufacturingExpenses.variableValue==null}" th:onclick="chooseBomTypeTwo()">选择</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">生产基地：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">生产基地</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <input id="shengchancode" class="form-control parsley-validated hidden" th:value="${manufacturingExpenses.baseCode}"  maxlength="11" style="background-color:#fff;font-size:15px" />
                                        <input id="shengchan" class="form-control parsley-validated" name="shengchan" th:if="${manufacturingExpenses.baseCode==null}" th:disabled  th:value="${manufacturingExpenses.baseCode}"  maxlength="11" style="background-color:#fff" />
                                        <input id="shengchan2" class="form-control parsley-validated"name="shengchan2" th:if="${manufacturingExpenses.baseCode!=null}" disabled th:value="${manufacturingExpenses.baseCode}"  maxlength="11" style="background-color:#fff" />
                                        <span class="input-group-addon" id="choose3" th:if="${manufacturingExpenses.baseCode==null}" th:onclick="chooseBomSeries3()">选择</span>
                                    </div>
                                </div>
                            </div>
                            <div    class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px; display: none">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">工艺版本：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">工艺版本</label>
                                <div class="col-md-5 col-xs-12 nopadding" >
                                        <select id="processVersion" th:if="${manufacturingExpenses.processVersion==null}" class="form-control parsley-validated" name="craft">
                                        <option value="">---请选择 ---</option>
                                        <option  th:each="craftVersion : ${craftVersionLists}" th:value="${craftVersion.craftVersionName}"><span th:text="${craftVersion.craftVersionName}"></span></option><!--th:selected=""-->

                                        </select>
                                        <input id="processVersion2" th:if="${manufacturingExpenses.processVersion!=null}" th:value="${manufacturingExpenses.processVersion}" class="form-control parsley-validated" disabled maxlength="32" style="background-color:#fff"   />
                                        <input id="processVersion3" th:value="${manufacturingExpenses.processVersion}" class="hidden" maxlength="32" style="background-color:#fff"   />

                                </div>

                            </div>

<!--                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">-->
<!--                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">工艺版本：</label>-->
<!--                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">工艺版本</label>-->
<!--                                <div class="col-md-5 col-xs-12 nopadding">-->
<!--                                    <input id="processVersion" th:value="${manufacturingExpenses.processVersion}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"   />-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">单位：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">单位</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="company" class="form-control parsley-validated hidden" th:value="${manufacturingExpenses.company}"  maxlength="11" style="background-color:#fff;font-size:15px" />
                                    <input id="company1" th:if="${manufacturingExpenses.id == null }" th:value="${manufacturingExpenses.company}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"   />
                                    <input id="company2" th:if="${manufacturingExpenses.id != null }" th:value="${manufacturingExpenses.company}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff" disabled  />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">固定制造费用：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">固定制造费用</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="fixedManufacturingCosts" th:value="${manufacturingExpenses.fixedManufacturingCosts}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <div   class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">电费：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">电费</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="electricityFees" class="form-control parsley-validated" th:value="${manufacturingExpenses.electricityFees}" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <div   class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">电费(%)：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">电费(%)</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="electricityFeesPrecent1" class="form-control parsley-validated" th:if="${manufacturingExpenses.electricityFeesPrecent!=null}"  th:value="${manufacturingExpenses.electricityFeesPrecent*100}" maxlength="32" style="background-color:#fff"  />
                                    <input id="electricityFeesPrecent" class="form-control parsley-validated" th:if="${manufacturingExpenses.electricityFeesPrecent==null}"  th:value="${manufacturingExpenses.electricityFeesPrecent}" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">变动用制造费用：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">变动用制造费用</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="variableManufacturingExpenses" th:value="${manufacturingExpenses.variableManufacturingExpenses}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">制造费用合计：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">制造费用合计</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="addManufacturingExpenses" th:value="${manufacturingExpenses.addManufacturingExpenses}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">制造费用合计(%)：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">制造费用合计(%)</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="addManufacturingPrecent1"  th:if="${manufacturingExpenses.addManufacturingPrecent!=null}" th:value="${manufacturingExpenses.addManufacturingPrecent*100}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"  />
                                    <input id="addManufacturingPrecent"  th:if="${manufacturingExpenses.addManufacturingPrecent==null}" th:value="${manufacturingExpenses.addManufacturingPrecent}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12  nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">备注：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">备注</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="remarks" th:value="${manufacturingExpenses.remarks}" class="form-control parsley-validated" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 btnLocation" >
                        <button type="button" class="btn btn-s-xs defaultbtn" onclick="save()">保存</button>
                        <button type="button" class="btn btn-s-xs btn-gray" onclick="back()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>
    <!--  当为编辑时,标准bom表对应的id  -->
    <input id="id" th:if="${manufacturingExpenses.id!=null}" th:value="${manufacturingExpenses.id}" class="hidden"/>
    <!--  0:标准bom;1:单据bom  -->
    <input id="type" class="hidden"/>
    <input id="chooseIndex"  value="0" class="hidden"/>

    <!--大类对应的编号,获取二级分类时用到-->

    <!--二级分编号,为选取-->
    <!--三级分编号,为选取-->
    <input id="isDelete" th:if="${manufacturingExpenses.isDelete!=null}" th:value="${manufacturingExpenses.isDelete}"class="hidden"/>
    <input id="updateTime" th:if="${manufacturingExpenses.updateTime!=null}"th:value="${manufacturingExpenses.updateTime}" class="hidden"/>
    <input id="updateBy" th:if="${manufacturingExpenses.updateBy!=null}"th:value="${manufacturingExpenses.updateBy}" class="hidden"/>

    <!--footer section start-->
    <div class="navbar" th:replace="Menu/footer::footer"></div>
    <!--footer section end-->
</div>



<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/static/js/iscroll-zoom.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/hammer.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/lrz.all.bundle.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/jquery.photoClip.min.js}" type="text/javascript"></script>

<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-export.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-zh-CN.js}"></script>


<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>



<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/Material/addManufacturingExpenses.js}"></script>

</body>
</html>
