<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.css}" />

    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/Material/addProductionList.css}" rel="stylesheet">

</head>
<body class="sticky-header" style="overflow: hidden;">
<!-- left side start-->

<!-- left side end-->
<div class="main-content"  style="padding-top: 0px">
    <!-- header start-->
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <p>
                            <span th:if="${productionBase.id !=null && productionBase.id!='' }">编辑生产基地</span>
                            <span th:if="${productionBase == null && productionBase.id == null }">新增生产基地</span>
                        </p>
                        <div class="col-xs-12 search-condition">
                            <!--帐套信息和生产基地信息与系列对应-->
                            <div   class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">生产基地名称：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">生产基地名称</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="baseName" class="form-control parsley-validated" th:value="${productionBase.baseName}" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>
                            <!--帐套信息和生产基地信息与系列对应-->
                            <div   class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">生产基地代码：</label>
                                <label class="col-xs-12 text-left visible-xs visible-sm nopadding title">生产基地代码</label>
                                <div class="col-md-5 col-xs-12 nopadding">
                                    <input id="baseCode" class="form-control parsley-validated" th:value="${productionBase.baseCode}" maxlength="32" style="background-color:#fff"  />
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 btnLocation" >
                        <button type="button" class="btn btn-s-xs defaultbtn" onclick="save()">保存</button>
                        <button type="button" class="btn btn-s-xs btn-gray" onclick="back()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>

    <!--  当为编辑时,标准bom表对应的id  -->
    <input id="id" th:if="${productionBase.id!=null}" th:value="${productionBase.id}" class="hidden"/>

    <!--  0:标准bom;1:单据bom  -->
    <input id="type" class="hidden"/>

    <!--footer section start-->
    <!--footer section end-->
</div>



<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/static/js/iscroll-zoom.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/hammer.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/lrz.all.bundle.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/jquery.photoClip.min.js}" type="text/javascript"></script>

<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-export.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-zh-CN.js}"></script>


<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>



<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/Material/addProductionList.js}"></script>

</body>
</html>
