<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>材料价格</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.min.css}">

    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/Material/exchangeRate.css}" rel="stylesheet">

</head>
<body class="sticky-header">
<!-- left side start-->
<div  th:replace="Menu/menu::asid(${menus},'jcsjgl','jcsjgl_hlsz')"></div>

<!-- left side end-->
<div class="main-content" >
    <!-- header start-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <p>
                            <span>汇率查询</span>
                        </p>
                        <div class="col-xs-12 search-condition">
                            <label class="col-md-3 text-right visible-lg visible-md title" style="width:150px;line-height: 34px;">时间段：</label>
                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="createStartTime" placeholder="查询开始时间"  class="layui-input"/>
                            </div>
                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="createEndTime" placeholder="查询结束时间"  class="layui-input"/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 nopadding" id="1" style="margin-top:18px;text-align: right;">
                                <button type="button" class="btn btn-s-xs defaultbtn" onclick="select()">查询</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-bootstrap-table.min.cssxs-12 col-sm-12 nopadding" style="position: relative">
                                <button class="btn btn-default" style="position: absolute;top: 10px;left:3%" type="button" name="toggle" aria-label="Toggle" title="删除">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-default" style="position: absolute;top: 10px;" type="button" name="toggle" aria-label="Toggle" title="新增">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <table id="reportTable1">
                                </table>
                            </div>

<!--                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 nopadding" id="btndiv" style="margin-top:18px;text-align: right;position: absolute;">-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>
    <input id="id" th:if="${id!=null}"  th:value="${id}" class="hidden"/>

     <!--body wrapper end-->
    <!--footer section start-->
    <div class="navbar" th:replace="Menu/footer::footer"></div>
    <!--footer section end-->
</div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/static/js/iscroll-zoom.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/hammer.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/lrz.all.bundle.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/jquery.photoClip.min.js}" type="text/javascript"></script>

<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-zh-CN.js}"></script>

<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>



<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/Material/exchangeRate.js}"></script>




</body>
</html>
