<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="overflow: hidden;">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap-table.css}" />

    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/Material/addProductionList.css}" rel="stylesheet">

</head>
<body class="sticky-header" style="overflow: hidden;">
<!-- left side start-->

<!-- left side end-->
<div class="main-content"  style="padding-top: 0px">
    <!-- header start-->
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear ">
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-content ibox-content2 col-xs-12" style="overflow-y: auto;">
                        <div class="col-xs-12 search-condition">
                            <!--帐套信息和生产基地信息与系列对应-->
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 nopadding" style="margin-top:15px;">
                                <form class="layui-form" method="POST" enctype="multipart/form-data"
                                      id="form1" action="${ctx}/device/uploadExcel">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">上传:</label>
                                        <div class="layui-input-inline">
                                            <input id="upfile" type="file" name="upfile">
                                        </div>

                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"> </label>
                                        <div class="layui-input-inline">
                                            <input class="layui-btn" value="导入EXCEL数据"
                                                   onclick="checkData()" >
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--0:电脑版；1：手机版；2：pad版-->
    <input id="bwType" th:value="${bwType}" class="hidden"/>

    <!--  当为编辑时,标准bom表对应的id  -->

    <!--  0:标准bom;1:单据bom  -->
    <input id="type" class="hidden"/>

    <!--footer section start-->
    <!--footer section end-->
</div>



<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>

<script th:src="@{/static/js/iscroll-zoom.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/hammer.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/lrz.all.bundle.js}" type="text/javascript" ></script>
<script th:src="@{/static/js/jquery.photoClip.min.js}" type="text/javascript"></script>

<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-export.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-zh-CN.js}"></script>


<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>



<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>

<script th:src="@{/static/js/Material/materialPriceDaoRu.js}"></script>

</body>
</html>
