<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" style="">
<head>
    <title>管理成本系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" th:href="@{/static/images/oupailogs.ico}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/awesome/css/font-awesome.min.css}">
    <link th:href="@{/static/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/static/css/User/userManage.css}" rel="stylesheet">

</head>
<body class="sticky-header" style="overflow: hidden;">
<!-- left side start-->
<div th:replace="Menu/menu::asid(${menus},'jcsjgl','jcsjgl_pvc')"></div>

<!-- left side end-->
<div class="main-content" >
    <!-- header start-->
    <div class="navbar" th:replace="Menu/header::header(${user})"></div>
    <!-- header end-->
    <!--body wrapper start-->
    <div class="wrapper wrapper-content animated fadeInUp clear " >
        <div class="">
            <div class="seccnt">
                <div class="ibox">
                    <div class="ibox-title bcwhite">
                    </div>
                    <div class="ibox-content ibox-content2 col-xs-12">
                        <div class="search-list row  " >

                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="colorName" placeholder="颜色名称"  class="layui-input"/>
                            </div>

                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="colorCode" placeholder="颜色代码"  class="layui-input"/>
                            </div>

                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="name" placeholder="存货名称"  class="layui-input"/>
                            </div>
                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="code" placeholder="存货编码"  class="layui-input"/>
                            </div>

<!--                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">-->
<!--                                <select id="cpdl" class="form-control parsley-validated" name="d" >-->
<!--                                    <option value="">-&#45;&#45;请选择 -&#45;&#45;</option>-->
<!--                                    <option th:each="bomTypeOne : ${bomTypeOneList}" th:value="${bomTypeOne.typeCode}" ><span th:text="${bomTypeOne.typeName}"></span></option>&lt;!&ndash;th:selected=""&ndash;&gt;-->
<!--                                </select>-->
<!--                            </div>-->



                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="spec" placeholder="规格"  class="layui-input"/>
                            </div>

                            <div class="col-lg-2 col-md-3 col-xs-6 piccondition ">
                                <input id="unit" placeholder="单位"  class="layui-input"/>
                            </div>

                            <div class="col-lg-12 col-md-12 col-xs-12 piccondition ">
                                <button type="button" class="btn btn-s-xs defaultbtn" onclick="DataInit()">搜索</button>
                                <button type="button" class="btn btn-s-xs btn-gray" onclick="reset()">重置</button>
                                <button type="button" class="btn btn-s-xs greenbtn" style="margin-left: 30px;" onclick="addPVC()">新增</button>
                            </div>
                        </div>
                        <div class="col-xs-12 search-condition">
                            <div id="tableInfo">
                                <table id="bomListContaner" class="table table-striped visible-md visible-lg">
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input valiue="" id="bwType" th:value="${bwType}" class="hidden"/>
    <!--body wrapper end-->
    <!--footer section start-->
    <div class="navbar" th:replace="Menu/footer::footer"></div>
    <!--footer section end-->
</div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jQuery/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-export.js}"></script>
<script type="text/javascript" th:src="@{/static/js/bootstrap/bootstrap-table-zh-CN.js}"></script>


<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>
<script th:src="@{/static/js/scripts.js}"></script>
<script th:src="@{/static/js/app.js}"></script>
<script th:src="@{/static/js/bomNew/PvcColorsLinkMaintrainList.js}"></script>

</body>
<script>
    $(document).ready(function () {
        DataInit();
    });
</script>


</html>
